<h1>Bienvenue {{ displayName }}!</h1>

<p>
    Vous étes enregistrés en tant que  {{ displayName }} patience c'est la derniére étape de votre enregistrement,
</p>

<p>
    Merci de votre intêret pour, <strong>Todo</strong>.  
</p>
//TODO changer 127.0.0.1
<p>
    <a href="http://127.0.0.1:8000/verify/email/{{ hash }}">Cliquer ici afin de confirmer votre inscription</a>
    (Le lien est valide jusqu'au {{ expiration_date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY") }})
</p>