{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}


{% block header_title %}
	<div class="container">
		<div class="d-flex justify-content-center">
			<h1>Nouvel utilisateur</h1>
		</div>
	</div>
{% endblock %}

{% block body %}
  
    {{ include('user/_formNew.html.twig') }}

    <a href="{{ path('user_index') }}">Retour à l'index Utilisateur</a>
{% endblock %}
